<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.dixon.resourceparser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".core.pub.activity.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".func.movie.recommend.view.MovieOutlineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".func.movie.search.view.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".func.special.view.SpecialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".func.special.view.SpecialDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".func.movie.recommend.view.DownloadListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".func.start.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".func.torr.view.TorrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".func.set.EditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".func.special.view.SpecialSearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".func.home.view.HomeActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".func.music.service.MusicManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":music" />
    </application>

</manifest>